<div class="inner cover">
  <h1 class="cover-heading">Yay! You added David Attenbot to Slack.</h1>
  <p class="lead">
    Type <code>/attenbot [text]</code> to post a gif with those keywords to Slack.
  </p>
</div>
